@using EntityLayer.Concrete
@model List<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WriterNewLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                           

                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                   

                        <!-- Profile Image -->
                        <div class="card card-purple card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="card-img img-fluid card-img-bottom"
                                         src="~/Extra/login-form-20/images/bg.jpg"
                                         alt="User profile picture">
                                </div>

                                <br />
                                <h3 class="profile-username text-center font-weight-bolder">Keşfet</h3>

                                <p class="text-muted text-center">Tüm Kategori,Başlık Ve İçeriklerin Yayın Alanı</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Başlık Sayısı</b> <a class="float-right">@ViewBag.headingcount</a>
                                    </li>


                                </ul>


                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- About Me Box -->
                        <div class="card card-purple">
                            <div class="card-header">
                                <h3 class="card-title">Bilgi Alanı</h3>
                            </div>
                            <br />
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong><i class="fas fa-book mr-1"></i> İçerikler</strong>

                                <p class="text-muted">
                                    Keşfetteki akışlar anlık olarak paylaşılır. En güncel paylaşımlar en üstte yer alır.
                                </p>

                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Konum </strong>

                                <p class="text-muted">İstanbul-Ankara-İzmir-Eskişehir</p>

                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> Dikkat</strong>

                                <p class="text-muted">
                                    <span class="tag tag-danger">Yalnızca güvenebildiğiniz insanlarla buluşun.</span>

                                </p>

                                <hr>

                                <strong><i class="far fa-file-alt mr-1"></i> Bilgilendirme</strong>

                                <p class="text-muted">Etkinlik,organizsyon ve kalabalık ortamlarda yalnız kalmayın. Arkadaşlarınız burda sizinle buluşmak için bekliyor :)</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <a href="/Discover/Index" class="btn btn-outline-primary"> Tüm Başlıklar </a>
                                <a href="/Discover/Timeline" class="btn btn-outline-success"> İçerik Akışı </a>
                                <section><div>  </div></section>

                            </div><!-- /.card-header -->
                            <section><div>  <br /></div></section>
                            <div class="card-body">

                                <section> <div> </div></section>
                                    @foreach (var item in Model)
                                    {


                                        <div class="active tab-pane" id="activity">

                                          
                                            <div class="post clearfix">
                                                <div class="user-block">
                                                    <img class="img-circle img-bordered-sm" src="@item.Writer.WriterImage" alt="User Image">
                                                    <span class="username">
                                                        <a href="/Discover/interactionArea/@item.HeadingID" style="color:blueviolet"> @item.HeadingName</a>
                                                     
                                                    </span>

                                                    <span class="description font-weight-bolder">

                                                        <a href="#" class="font-weight-bold" style="color:green">@item.Writer.WriterName </a>  --- @item.HeadingDate
                                                    </span>
                                                </div>
                                                <!-- /.user-block -->

                                                <p>
                                                    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-check mr-1"></i> Takip Et</a>
                                                    
                                                    <span class="float-right">
                                                        <a href="~/Discover/CategorySelectList/@item.CategoryID" class="link-black text-sm" style="color:mediumorchid;font-weight:bold" >
                                                            <i class="fas fa-align-right"></i> @item.Category.CategoryName
                                                        </a>
                                                    </span>
                                                </p>
                                                @using (Html.BeginForm("Index", "Discover", FormMethod.Post))
                                                {
                                                    <div class="form-group">

                                                        <div class="input-group input-group-sm mb-0">
                                                            <input class="form-control form-control-sm" placeholder="Yanıtla" name="ContentValue">
                                                            <input type="hidden" name="HeadingID" value="@item.HeadingID" />
                                                            <div class="input-group-append">
                                                                @*<button type="submit" class="btn btn-danger">Gönder</button>*@
                                                                <input type="submit" value="Gönder" class="btn btn-outline-success btn-sm" />


                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <hr style="color:blueviolet" />  
                                            <!-- /.post -->
                                            <!-- Post -->
                                            <!-- /.post -->
                                        </div>
                                        <br />
                                      

                                    
                                }




                                <!-- /.tab-pane -->
                                <!-- /.tab-pane -->
                                <!-- /.tab-pane -->
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>




<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!-- Font Awesome -->
<!--<link rel="stylesheet" href="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">-->
<!-- Ionicons -->
<!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
<!-- Theme style -->
<!--<link rel="stylesheet" href="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/dist/css/adminlte.min.css">-->
<!-- Google Font: Source Sans Pro -->
<!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">-->
<!-- Navbar -->
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<!--<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>

                </ol>
            </div>
        </div>
    </div>-->
<!-- /.container-fluid -->
<!--</section>-->
<!-- Main content -->
<!--<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">-->
<!-- Profile Image -->
<!--<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid card-img-bottom"
                 src="~/Extra/login-form-20/images/bg.jpg"
                 alt="User profile picture">
        </div>

        <h3 class="profile-username text-center font-weight-bolder">Keşfet</h3>

        <p class="text-muted text-center">Tüm Kategori,Başlık Ve İçeriklerin Yayın Alanı</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Başlık Sayısı</b> <a class="float-right">145</a>
            </li>
            <li class="list-group-item">
                <b>İçerik Sayısı</b> <a class="float-right">543</a>
            </li>

        </ul>


    </div>-->
<!-- /.card-body -->
<!--</div>-->
<!-- /.card -->
<!-- About Me Box -->
<!--<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Bilgi Alanı</h3>
    </div>-->
<!-- /.card-header -->
<!--<div class="card-body">
    <strong><i class="fas fa-book mr-1"></i> İçerikler</strong>

    <p class="text-muted">
        Keşfetteki akışlar anlık olarak paylaşılır. En güncel paylaşımlar en üstte yer alır.
    </p>

    <hr>

    <strong><i class="fas fa-map-marker-alt mr-1"></i> Konum </strong>

    <p class="text-muted">İstanbul-Ankara-İzmir-Eskişehir</p>

    <hr>

    <strong><i class="fas fa-pencil-alt mr-1"></i> Dikkat</strong>

    <p class="text-muted">
        <span class="tag tag-danger">Yalnızca güvenebildiğiniz insanlarla buluşun.</span>

    </p>

    <hr>

    <strong><i class="far fa-file-alt mr-1"></i> Bilgilendirme</strong>

    <p class="text-muted">Etkinlik,organizsyon ve kalabalık ortamlarda yalnız kalmayın. Arkadaşlarınız burda sizinle buluşmak için bekliyor :)</p>
</div>-->
<!-- /.card-body -->
<!--</div>-->
<!-- /.card -->
<!--</div>-->
<!-- /.col -->
<!--<div class="col-md-9">
    <div class="card">
        <div class="card-header p-2">
            <a href="/Discover/Index" class="btn btn-info"> Tüm Başlıklar </a>
            <a href="/Discover/Timeline" class="btn btn-success"> İçerik Akışı </a>

        </div>-->
<!-- /.card-header -->
<!--<div class="card-body">

    <br />
    if (Model != null)
    {
        foreach (var item in Model)
        {


            <div class="active tab-pane" id="activity">

                <div class="post clearfix">
                    <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="item.Writer.WriterImage" alt="User Image">
                        <span class="username">
                            <a href="/Discover/interactionArea/item.HeadingID"> item.HeadingName</a>
                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>

                        <span class="description font-weight-bolder">

                            <a href="#" class="font-weight-bold" style="color:green">item.Writer.WriterName </a>  --- item.HeadingDate
                        </span>
                    </div>-->
<!-- /.user-block -->
<!--<p>
    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Paylaş</a>
    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Beğen</a>
    <span class="float-right">
        <a href="~/Discover/CategorySelectList/item.CategoryID" class="link-black text-sm">
            <i class="fas fa-align-right"></i> item.Category.CategoryName
        </a>
    </span>
</p>
using (Html.BeginForm("Index", "Discover", FormMethod.Post))
{
    <div class="form-group">

        <div class="input-group input-group-sm mb-0">
            <input class="form-control form-control-sm" placeholder="Yanıtla" name="ContentValue">
            <input type="hidden" name="HeadingID" value="item.HeadingID" />
            <div class="input-group-append">-->
@*<button type="submit" class="btn btn-danger">Gönder</button>*@
@*<input type="submit" value="Gönder" class="btn btn-danger btn-sm" />


                                                            </div>
                                                        </div>
                                                    </div>
}
                                            </div>-->*@

<!-- /.post -->
<!-- Post -->
<!-- /.post -->
<!--</div>
        <br />
        <hr />

    }
}-->
<!-- /.tab-pane -->
<!-- /.tab-pane -->
<!-- /.tab-pane -->
<!-- /.tab-content -->
<!--</div>--><!-- /.card-body -->
<!--</div>-->
<!-- /.nav-tabs-custom -->
<!--</div>-->
<!-- /.col -->
<!--</div>-->
<!-- /.row -->
<!--</div>--><!-- /.container-fluid -->
<!--</section>-->
<!-- /.content -->
<!--</div>-->
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- ./wrapper -->
<!-- jQuery -->
<!--<script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>-->
<!-- Bootstrap 4 -->
<!--<script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- AdminLTE App -->
<!--<script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>-->
<!-- AdminLTE for demo purposes -->
<!--<script src="~/Mvc Proje Kampı Tema/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>-->
